.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0%;
    width: 80vw;
    height: 100vh;
   background-color:var(--vert-fonce);
   display: grid;
   place-content: center;
   
    }

    .menu__liens-article {
        font-family: 'Overpass';
        font-size: 24 px;
        color: var(--jaune-pale);
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        padding-bottom: 5em;
      }